<div>
  <div class= "show-wrapper">
    <img src= <%= @user.photo %>  class= "show-image">
    <div class= "show-details">
      <h2 class='user-name'><%=@user.name%></h2>
      <p class='post-count'>Number of posts: <%= @user.posts_counter %> </p>
    </div>
  </div>
  <div class= "cards">
    <%@posts.each do |post| %>
      <div class= "post-card">
        <div>
          <h3>Post #<%= post.id%> </h3>
          <h3><%= link_to post.title, "/users/#{@user.id}/posts/#{post.id}"%></h3>
          <p><%= post.text%></p>

          <div class='post-btn'>
            <%= link_to  "See more", user_post_path(id: post.id, user_id: @user.id) %>
          </div>
        </div>
        <div class='small'>
          <small><%=post.comments_counter%> comments</small>
          <small><%=post.likes_counter%> likes</small>
        </div>
      </div>
      <div class= "comments">
        <%post.last_five_comments.each do |comment| %>
          <div class= "comment">
            <%= @user.name%>: <%= comment.text%>
          </div>
          
        <% end %>
      </div>

    <% end %>
  </div>
</div>