<div>
  <div class='post-wrapper'>
    <div>
      <h2 class='user-name'> <%= @post.title%> by <%= @user.name%> </h2>
       <%= form_with model: @like, url: "/users/#{@post.author.id}/posts/#{@post.id}/likes", method: :post, scope: :like do |f| %>
        <%= f.submit "Like" %>
      <% end %>


      <% if can? :delete, @post %>
        <div class="">
          <%= button_to 'Delete', delete_user_post_path(user_id: @user.id, id: @post.id), class:"", method: :delete %>
        </div>
      <%end%>

      <div class='small'>
        <small><%=@post.comments_counter%> comments</small>
        <small><%=@post.likes_counter%> likes</small>
      </div>
    </div>

    <div>
      <p> <%= @post.text%> </p>
    </div>
  </div>

  <%= form_with model: @comment, url:  user_post_comments_path(user_id: @current_user.id, post_id: @post.id), method: :post, scope: :comment do |f| %>
  <div>
    <%= f.text_area :text, placeholder: "Add Comment" %>
    <%= f.submit "Comment" %>
  </div>
  <% end %>

    <div class='comments'>
      <% @comments = Comment.where(post_id:@post.id)%>
      <div>
        <%@comments.each do |comment| %>
          <p><%= comment.author.name%>: <%= comment.text%></p>
          <% if can? :delete, comment %>
            <div>
              <%= button_to 'Delete', delete_user_post_comment_path(user_id: @current_user.id, post_id: @post.id, id: comment.id), class:"", method: :delete %>
            </div>
          <% end %>
          
        <% end %>
      </div>
    </div>

</div>